@font-face {
  font-family: Poppins-Regular;
  src: url("Fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}
/* bgColor  #0e0d0d
fontColor  #e6e6e6
hover     #cc4f51  */
body {
  font-family: "Poppins-Regular";
  background-color: #08aeea;
  background-image: linear-gradient(315deg, #08aeea 0%, #2af598 98%);
}

.main {
  margin: 0 5%;
}

input[type="datetime-local"] {
  background-color: transparent;
  outline: none;
  /* display: none; */
  border: none;
}

input[type="datetime-local"]::-webkit-clear-button {
  font-size: 18px;
  height: 30px;
  position: relative;
}

input[type="datetime-local"]::-webkit-inner-spin-button {
  height: 28px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  font-size: 1.4vmax;
  cursor: pointer;
  /* background-image: url(./Ui/check.png); */
}

::-webkit-datetime-edit {
  padding: 1em;
  padding: 0 px;
  display: none;
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 10vw;
  max-height: 64px;
  margin: 5px;
}

.logo span {
  font-size: 2rem;
  color: #2196f3;
}

.timer {
  text-align: center;
}

.timer .time {
  font-size: 2rem;
  font-weight: bold;
}

.timer .sub {
  font-size: 1.5vmax;
}

.tasks {
  height: 70vh;
  overflow-y: scroll;
}

.tasks::-webkit-scrollbar {
  display: none;
}

.tasks ul {
  list-style-type: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.tasks li {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 13px;
  padding: 15px;
  margin-bottom: 15px;
}

.task-line {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.task-line button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  padding: 0;
}

.task-line i {
  color: white;
  font-size: 1.8vmax;
}

.add-new-task {
  background-color: silver;
  height: 10vh;
  display: none;
}
